

NET "led[6]" LOC = AF7;
NET "led[5]" LOC = AA7;
NET "led[4]" LOC = AB7;
NET "led[3]" LOC = AF6;
NET "led[2]" LOC = AC6;
NET "led[1]" LOC = AD6;
NET "led[0]" LOC = AC7;
NET "seg_com[7]" LOC = W4;
NET "seg_com[6]" LOC = W5;
NET "seg_com[5]" LOC = W6;
NET "seg_com[4]" LOC = AB3;
NET "seg_com[3]" LOC = AB4;
NET "seg_com[2]" LOC = W1;
NET "seg_com[1]" LOC = W2;
NET "seg_com[0]" LOC = AD2;
NET "seg_data[7]" LOC = AC1;
NET "seg_data[6]" LOC = AC2;
NET "seg_data[5]" LOC = K25;
NET "seg_data[4]" LOC = K26;
NET "seg_data[3]" LOC = AA6;
NET "seg_data[2]" LOC = AB6;
NET "seg_data[1]" LOC = AE5;
NET "seg_data[0]" LOC = AF5;
NET "am" LOC = AE6;
NET "mclk" LOC = A13;
NET "rst" LOC = AD10;


NET "dot_col[13]" LOC = R1;
NET "dot_col[12]" LOC = R2;
NET "dot_col[11]" LOC = R3;
NET "dot_col[10]" LOC = T4;
NET "dot_col[9]" LOC = T5;
NET "dot_col[8]" LOC = T6;
NET "dot_col[7]" LOC = T7;
NET "dot_col[6]" LOC = U6;
NET "dot_col[5]" LOC = U7;
NET "dot_col[4]" LOC = T1;
NET "dot_col[3]" LOC = T2;
NET "dot_col[2]" LOC = U2;
NET "dot_col[1]" LOC = U3;
NET "dot_col[0]" LOC = U4;
NET "dot_row[9]" LOC = U5;
NET "dot_row[8]" LOC = V5;
NET "dot_row[7]" LOC = V6;
NET "dot_row[6]" LOC = V7;
NET "dot_row[5]" LOC = U1;
NET "dot_row[4]" LOC = W7;
NET "dot_row[3]" LOC = V2;
NET "dot_row[2]" LOC = V3;
NET "dot_row[0]" LOC = W3;
NET "dot_row[1]" LOC = V4;

# PlanAhead Generated physical constraints 

NET "vfd_data[7]" LOC = P7;
NET "vfd_data[6]" LOC = P8;
NET "vfd_data[5]" LOC = P1;
NET "vfd_data[4]" LOC = P2;
NET "vfd_data[3]" LOC = P3;
NET "vfd_data[2]" LOC = P4;
NET "vfd_data[1]" LOC = R5;
NET "vfd_data[0]" LOC = R6;
NET "vfd_e" LOC = R7;
NET "vfd_rs" LOC = T8;
NET "vfd_rw" LOC = R8;
