//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 20 11:39:12 2022
//! **************************************************************************

SCHEMATIC START;
COMP "seg_com<0>" LOCATE = SITE "AD2" LEVEL 1;
COMP "seg_com<1>" LOCATE = SITE "W2" LEVEL 1;
COMP "seg_com<2>" LOCATE = SITE "W1" LEVEL 1;
COMP "seg_com<3>" LOCATE = SITE "AB4" LEVEL 1;
COMP "seg_com<4>" LOCATE = SITE "AB3" LEVEL 1;
COMP "seg_com<5>" LOCATE = SITE "W6" LEVEL 1;
COMP "seg_com<6>" LOCATE = SITE "W5" LEVEL 1;
COMP "seg_com<7>" LOCATE = SITE "W4" LEVEL 1;
COMP "seg_data<0>" LOCATE = SITE "AF5" LEVEL 1;
COMP "seg_data<1>" LOCATE = SITE "AE5" LEVEL 1;
COMP "seg_data<2>" LOCATE = SITE "AB6" LEVEL 1;
COMP "seg_data<3>" LOCATE = SITE "AA6" LEVEL 1;
COMP "seg_data<4>" LOCATE = SITE "K26" LEVEL 1;
COMP "seg_data<5>" LOCATE = SITE "K25" LEVEL 1;
COMP "seg_data<6>" LOCATE = SITE "AC2" LEVEL 1;
COMP "seg_data<7>" LOCATE = SITE "AC1" LEVEL 1;
COMP "rst" LOCATE = SITE "AD10" LEVEL 1;
COMP "mclk" LOCATE = SITE "A13" LEVEL 1;
COMP "vfd_rs" LOCATE = SITE "T8" LEVEL 1;
COMP "vfd_data<0>" LOCATE = SITE "R6" LEVEL 1;
COMP "vfd_data<1>" LOCATE = SITE "R5" LEVEL 1;
COMP "vfd_data<2>" LOCATE = SITE "P4" LEVEL 1;
COMP "vfd_data<3>" LOCATE = SITE "P3" LEVEL 1;
COMP "vfd_data<4>" LOCATE = SITE "P2" LEVEL 1;
COMP "vfd_data<5>" LOCATE = SITE "P1" LEVEL 1;
COMP "vfd_data<6>" LOCATE = SITE "P8" LEVEL 1;
COMP "vfd_data<7>" LOCATE = SITE "P7" LEVEL 1;
COMP "dot_col<11>" LOCATE = SITE "R3" LEVEL 1;
COMP "dot_col<12>" LOCATE = SITE "R2" LEVEL 1;
COMP "dot_col<13>" LOCATE = SITE "R1" LEVEL 1;
COMP "dot_col<10>" LOCATE = SITE "T4" LEVEL 1;
COMP "vfd_e" LOCATE = SITE "R7" LEVEL 1;
COMP "am" LOCATE = SITE "AE6" LEVEL 1;
COMP "led<0>" LOCATE = SITE "AC7" LEVEL 1;
COMP "led<1>" LOCATE = SITE "AD6" LEVEL 1;
COMP "led<2>" LOCATE = SITE "AC6" LEVEL 1;
COMP "led<3>" LOCATE = SITE "AF6" LEVEL 1;
COMP "led<4>" LOCATE = SITE "AB7" LEVEL 1;
COMP "led<5>" LOCATE = SITE "AA7" LEVEL 1;
COMP "led<6>" LOCATE = SITE "AF7" LEVEL 1;
COMP "dot_col<1>" LOCATE = SITE "U3" LEVEL 1;
COMP "dot_col<5>" LOCATE = SITE "U7" LEVEL 1;
COMP "vfd_rw" LOCATE = SITE "R8" LEVEL 1;
COMP "dot_row<0>" LOCATE = SITE "W3" LEVEL 1;
COMP "dot_row<1>" LOCATE = SITE "V4" LEVEL 1;
COMP "dot_row<2>" LOCATE = SITE "V3" LEVEL 1;
COMP "dot_row<3>" LOCATE = SITE "V2" LEVEL 1;
COMP "dot_row<4>" LOCATE = SITE "W7" LEVEL 1;
COMP "dot_row<5>" LOCATE = SITE "U1" LEVEL 1;
COMP "dot_row<6>" LOCATE = SITE "V7" LEVEL 1;
COMP "dot_row<7>" LOCATE = SITE "V6" LEVEL 1;
COMP "dot_row<8>" LOCATE = SITE "V5" LEVEL 1;
COMP "dot_row<9>" LOCATE = SITE "U5" LEVEL 1;
COMP "dot_col<0>" LOCATE = SITE "U4" LEVEL 1;
COMP "dot_col<2>" LOCATE = SITE "U2" LEVEL 1;
COMP "dot_col<3>" LOCATE = SITE "T2" LEVEL 1;
COMP "dot_col<4>" LOCATE = SITE "T1" LEVEL 1;
COMP "dot_col<6>" LOCATE = SITE "U6" LEVEL 1;
COMP "dot_col<7>" LOCATE = SITE "T7" LEVEL 1;
COMP "dot_col<8>" LOCATE = SITE "T6" LEVEL 1;
COMP "dot_col<9>" LOCATE = SITE "T5" LEVEL 1;
NET "mclk_BUFGP/IBUFG" BEL "mclk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

