//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 20 14:42:25 2022
//! **************************************************************************

SCHEMATIC START;
NET "mclk_BUFGP/IBUFG" BEL "mclk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

